*{
  -webkit-box-sizing = border-box;
     -moz-box-sizing = border-box;
         -box-sizing = border-box;
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #7a7a7a;
}

main{
  width: 994px;
  height: 1994px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  background-color: white;
}

h1{
  padding-top: 50px;
  margin-left: 47px;
  margin-bottom: 10px;
  font-weight: bold;
}

h5{
  margin-left: 47px;
}

.menu{
  width: 900px;
  height: 59px;
  background-color: #c0c0c0;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}

li{
  display: inline;
  list-style-type: none;
  margin-left: 40px;
  margin-top: 25px;
}



.image{
  width: 900px;
  height: 508px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 38px;
}

.list{
  display: block;
  height: 33px;
  width: 150px;
  background-color: #c0c0c0;
  text-align: center;
  margin: auto;
}

h2{
  text-align: center;
  font-size: 28px;
  font-family: 'Terminal Dosis'sans-serif;
  margin-top: 38px;
  margin-bottom: 22px;
  font-weight: bold;
}

#milieu{
  text-align: center;
  font-size: 13px;
}

.text{
  margin-left: 47px;
  margin-right: 47px;
  margin-top: 30px;
}

p{
  margin-top: 30px;
}

#deco{
  margin-left: 47px;
  margin-right: 47px;
  margin-top: 20px;
  height: 40px;
  background-color: #c0c0c0;
}

#older{
  height: 75px;
}




footer{
  width: 900px;
  height: 235px;
  background-color: #c0c0c0;
  margin-left: 47px;
  margin-right: 47px;
}
